@{
    Layout = "~/Views/MainLayout.cshtml"; ;
}
@model FinancialInstitution.Models.Client
    <div class="action-form">
        <h3 class="action-form__title">Форма редактирования клиента</h3>
        

        @using (Html.BeginForm("/Edit/" + @Model.Id, "Client", FormMethod.Post))
        {
            @Html.TextBox("FirstName", @Model.FirstName, new { @class = "action-form__input" })
            @Html.ValidationMessageFor(model => model.FirstName)

            @Html.TextBox("SecondName", @Model.SecondName, new { @class = "action-form__input" })
            @Html.ValidationMessageFor(model => model.SecondName)

            @Html.TextBox("MiddleName", @Model.MiddleName, new { @class = "action-form__input" })
            @Html.ValidationMessageFor(model => model.MiddleName)

            @Html.TextBox("BirthDay", @Model.BirthDay, new { @class = "action-form__input  birthDay-datepicker" })
            @Html.ValidationMessageFor(model => model.BirthDay)


            @Html.DropDownList("Country", new SelectList(new string[1] { @Model.Country }), "Страна", new { @class = "action-form__select", @onchange = "countrySelected()", @id = "country" })
            @Html.ValidationMessageFor(model => model.Country)

            @Html.DropDownList("City", new SelectList(new string[1] { @Model.City }), "Город", new { @class = "action-form__select", @id = "city" })
            @Html.ValidationMessageFor(model => model.City)
            
            @Html.TextBox("Street", @Model.Street, new { @class = "action-form__input", @placeholder = Html.DisplayNameFor(m => m.Street) })
            @Html.ValidationMessageFor(model => model.Street)

            @Html.TextBox("PassportSeriesAndNumber", @Model.PassportSeriesAndNumber, new { @class = "action-form__input" })
            @Html.ValidationMessageFor(model => model.PassportSeriesAndNumber)

            @Html.TextBox("CardNumber", @Model.CardNumber, new { @class = "action-form__input" })
            @Html.ValidationMessageFor(model => model.CardNumber)
            <div class="action-form__buttons">
                <a class="action-form__btn btn-cansel" href="/client/showshort">Отмена</a>
                <input class="action-form__btn btn-save" type="submit" name="name" value="Сохранить" />
            </div>
        }
    </div>
<script src="~/scripts/cascadeList.js"></script>

