@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model FinancialInstitution.Models.Client
    <div class="main-content">
        <table class="main-table">
            <caption>
                <h3 class="table__title">@Model.SecondName @Model.FirstName @Model.MiddleName</h3>
                <a class="btn__add" href="/Client/Add/"><i class="fas fa-plus"></i> Добавить</a>
            </caption>
            <tr class="main-table__row main-table__row-title">
                <td class="main-table__cell"><p class="main-table__text">ФИО</p></td>
                <td class="main-table__cell"><p class="main-table__text">Дата рождения</p></td>
                <td class="main-table__cell"><p class="main-table__text">Страна</p></td>
                <td class="main-table__cell"><p class="main-table__text">Город</p></td>
                <td class="main-table__cell"><p class="main-table__text">Улица</p></td>
                <td class="main-table__cell"><p class="main-table__text">Паспорт</p></td>
                <td class="main-table__cell"><p class="main-table__text">Номер карты</p></td>
                <td class="main-table__cell"><p class="main-table__text"></p></td>
            </tr>
           

                <tr class="main-table__row">
                    <td class="main-table__cell"><p class="main-table__text">@Model.SecondName @Model.FirstName @Model.MiddleName</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.BirthDay.Day.@Model.BirthDay.Month.@Model.BirthDay.Year</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.Country</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.City</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.Street</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.PassportSeriesAndNumber</p></td>
                    <td class="main-table__cell"><p class="main-table__text">@Model.CardNumber</p></td>
                    <td class="main-table__cell">
                        <a class="main-table__link btn__edit btn" href="/Client/Edit/@Model.Id"><i class="fas fa-edit"></i></a>
                        <a class="main-table__link btn__delete btn" href="/Client/Delete/@Model.Id"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                
            
        </table>
    </div>
